<section class="careers">
	<h2><center>Careers</center></h2>

	<p>If you are looking for an organization that will value, recognize and reward talent and results, if you want to help find solutions to enterprise and entrepreneurship challenges and of course you want to have fun and keep learning along the way, then Rendzina capital is the place to be.</p> 

	<p>At Rendzina Capital, we offer opportunities for qualified people to work with us in 2 categories.</p>

</section>
<section>
	<hr>
	<div id="careers" class="row">
		<div class="large-6 column"><a href="#">Become an Associate</a></div>
		<div class="large-6 column"><a href="#">Join as an Independent Consultant</a></div>
	</div>
	<hr>
</section>