<section id="intro" class="row container">
	<hr>
	<article class="large-12 columns">
		<p>From a deep and conscious discovery of innate abilities and capacities, together with a heartfelt intention to make a contribution to the advancement of society, the Rendzina Capital has emerged.</p>

		<p>We have observed the needs of our time and the yearning of our soul to sprout a harvest of solutions and services meeting man's quest for profitable engagement in Business and Entrepreneurship.</p>

		<p>Rendzina Capital is that organization of intrinsic excellence, committed people with a positive and learning culture springing up superior Socio-Management Services and IT Solutions that foster growth and stability for all business people.</p>
		<hr>
	</article>
</section>
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured">
			<div class="column1"> <span class="icon icon-key"></span>
				<div class="title">
					<h2>Business Starter Packages</h2>
				</div>
				<p>At Rendzina Capital we are committed to rendering services that make the pursuit of business as less stressful as possible.</p>
			</div>
			<div class="column2"> <span class="icon icon-legal"></span>
				<div class="title">
					<h2>Agrinvest</h2>
				</div>
				<p>Agrinvest is an agricultural investment and development solution designed to foster agro-preneurship (Agricultural Entrepreneurship) and develop opportunities in the agricultural sector into sustainable and competitive enterprises.</p>
			</div>
			<div class="column3"> <span class="icon icon-unlock"></span>
				<div class="title">
					<h2>Government as an Enterprise</h2>
				</div>
				<p>Today’s service-based economy is fundamentally dependent on IT. Through these computer-based systems, the critical interactions at the heart of service delivery are defined, managed, recorded, and governed.</p>
			</div>
			<div class="column4"> <span class="icon icon-wrench"></span>
				<div class="title">
					<h2>Organic Business Plans</h2>
				</div>
				<p>The concept of Business Plan writing is one that has evolved over the years into an organic piece of organizational Strategy, which allows entrepreneurs and their organizations make informed decisions while adapting to changes along the way.</p>
			</div>
		</div>
	</div>
</div>
<section>
	<article id="resources">
		<hr>
		<h3>RESOURCES</h3>
		<p>Our bank of resources is an archive of insightful articles that does more than inform but revolutionize our thinking processes.</p>
		<p>Here we place in your hands, the power of knowledge with which you can transform your personal life and business.</p>
		<hr>
	</article>
</section>
