<div class="container row">
	<div class="large-7 columns">
		<article id="home_left">
			<p>From a deep and conscious discovery of innate abilities and capacities, together with a heartfelt intention to make a contribution to the advancement of society, the Rendzina Capital has emerged.</p>

			<p>We have observed the needs of our time and the yearning of our soul to sprout a harvest of solutions and services meeting man's quest for profitable engagement in Business and Entrepreneurship.</p>

			<p>Rendzina Capital is that organization of intrinsic excellence, committed people with a positive and learning culture springing up superior Socio-Management Services and IT Solutions that foster growth and stability for all business people.</p>

		</article>
	</div>
	<div class="large-5 columns">
		<article id="home_right">
			<h3>RESOURCES</h3>
			<p>Our bank of resources is an archive of insightful articles that does more than inform but revolutionize our thinking processes.</p>
			<p>Here we place in your hands, the power of knowledge with which you can transform your personal life and business.</p>
		</article>
	</div>
</div>