<%# navigation styled for Zurb Foundation 5 %>
<nav>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<%= link_to image_tag("rendzina_logo.png"), root_path %>
      			<%= render 'layouts/navigation_links' %>
			</div>
		</div>
	</div>
	<div id="header-featured">
		<a href="#"><i class="fi-social-twitter"></i></a>
		<a href="#"><i class="fi-social-facebook"></i></a>
		<a href="#"><i class="fi-social-linkedin"></i></a>
		<div id="featured_contact">
			<i class="fi-telephone">  +2349098969919</i>
			<%= link_to 'Send an Inquiry', new_contact_path %>
		</div>
		
	</div>
</nav>
