<%# add navigation links to this file %>
<div id="menu">
	<ul>
		<li class="current_page_item"><%= link_to 'Home', root_path %></li>
				
		<li><a href="#" accesskey="2" title="">About Us</a></li>
		<li><a href="#" accesskey="3" title="">What We Do</a></li>
		<li><a href="#" accesskey="4" title="">Blog</a></li>
		<li><a href="#" accesskey="5" title="">Careers</a></li>
	</ul>
</div>